h1 {
  text-indent: 0%;
  font-size: 80px;
}
h3 {
  text-indent: 0%;
  font-size: 40px;
}
h5 {
  text-indent: 25%;
  font-size: 20px;
}

.jal {
  margin-left: 120px;
  margin-bottom: 40px;
}
.liv {
  margin-left: 140px;
}
.vers {
  text-indent: -15%;
}
.bae {
  text-indent: -17%;
  font-size: 25px;
}
.consider {
  text-indent: 0px;
}
.bottom {
  text-indent: -15%;
}
.sneak {
  text-indent: -13%;

  margin: 20px;
  color: white;
}
.two {
  text-indent: -13%;

  margin: 20px;
}
.three {
  text-indent: -13%;

  margin: 20px;
}
.four {
  text-indent: -13%;

  margin: 20px;
}
.five {
  text-indent: -13%;
  margin: 0px;
}
* {
  color: #00aa88;
  background-color: lightblue;
  font-family: "", Courier, monospace;
  text-decoration: none;
}
*:visited {
  color: #00aa88;
}
.size {
  font-size: 42px;
}
.bigl {
  display: none;
}
