* {
  color: #00aa88;
  background-color: lightblue;
  font-family: "", Courier, monospace;
  text-decoration: none;
  zoom: 1.04;
}
h1 {
  font-size: 80px;
}
h3 {
  font-size: 40px;
}
.button-body {
  padding: 0%;
}
.popup-package {
  margin-left: -10%;
}
.indent-release {
  padding: 20px;
}
.contact {
  font-size: 30px;
}
*:visited {
  color: #00aa88;
}
