h1 {
  text-indent: 27%;
  font-size: 80px;
}
h3 {
  text-indent: 19%;
  font-size: 40px;
}
h5 {
  text-indent: 25%;
  font-size: 20px;
}

.jal {
  margin-left: 120px;
  margin-bottom: 40px;
}
.liv {
  margin-left: 140px;
}
.rich {
  text-indent: 200px;
}
.bae {
  text-indent: 210px;
  font-size: 25px;
}
.consider {
  text-indent: 0px;
}
.bottom {
  text-indent: 170px;
}
.sneak {
  margin: 20px;
  color: white;
}
.two {
  margin: 20px;
}
.three {
  margin: 20px;
}
.four {
  margin: 20px;
}
.five {
  text-indent: 20px;
  margin: 0px;
}
* {
  color: #00aa88;
  background-color: lightblue;
  font-family: "", Courier, monospace;
  text-decoration: none;
}
*:visited {
  color: #00aa88;
}
.size {
  font-size: 42px;
}
